@font-face {
	font-family: VT323;
	src: url('VT323-Regular.woff') format('woff'), url('VT323-Regular.ttf')  format('truetype');
}

body {
	font-family: helvetica;
	font-size: 10pt;
	background: #55ABAA;
	margin: 0;
}

p {
	height: 20px;
}

dl {
	list-style: none;
	line-height: 40px;
}

li { 
    padding-left: 16px;
}

li:hover { 
    background-color: #0000AA;
    color: white;
}

.wholeThing {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-y: scroll;
	overflow-x: hidden;
	transition: .2s ease-in-out;
}

.wholeThingBsod {
	width: 100%;
	height: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow-y: scroll;
	overflow-x: hidden;
	transition: .2s ease-in-out;
	background-color: #0B1AFB;
	color: #C6BEDC;
	line-height: 40px;
}

.bsodTitle {
	background-color: #C6BEDC;
	color: #0B1AFB;
	line-height: 20px;
	width: 120px;
	margin-bottom: 50px;
	text-align: center;
}

.bsodAnnouncement {
	line-height: 40px;
	width: 40%;
}

.greyBox {
	display: flex;
	align-items: center;
	background: #C3C6CB;
	height: 180px;
	width: 600px;
	padding: 1px;
	clear: both;
	border-style: outset;
}

.blueBar {
	align-self: flex-start;
	background: #0000AA;
	height: 28px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 5px
}

.topBarTextWhite {
	color: white;
	float: left;
}

.cancelButton {
	float: right;
	background-color: #C3C6CB;
	border: outset;
	border-width: 2px;
	text-align: center;
	font-size: 20px;
	padding: 0px 3px 0px 3px;
}

.boxDetails {
	width: 600px;
	position: fixed;
	align-self: flex-end;
	padding: 0px 0px 20px 100px;
}

.rightBox {
	position: absolute;
	right: 120px;
}

input[type=text] {
	width: 120px;
	height: 25px;
	box-sizing: border-box;
	border: inset;
	padding: 0px 0px 0px 3px;
	border-width: 0.2em;
}

input[type=submit] {
	width: 85px;
	height: 24px;
	box-sizing: border-box;
	border: outset;
	border-width: 0.2em;
	box-shadow: 1px 1px 1px #000000;
}

.eggTimer {
	cursor: url('/eggTimer.png'), pointer;
}

.bottomBar {
	align-self: flex-end;
	display: flex;
	background: #C3C6CB;
	height: 35px;
	width: 100%;
	padding: 1px 3px 3px 3px;
	clear: both;
	border-style: outset;
	border-width: 2px 0px 0px 0px;
	justify-content: space-between;
}

.startButton {
	float: left;
	display: flex;
	align-self: center;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 30px;
	width: 100px;
	border-style: solid;
	color: #000000;
	z-index: 99;
	margin: 1px 1px 1px 1px;
	box-sizing: border-box;
	border: outset;
	border-width: 0.1em;
	box-shadow: 0.1em 0.1em 0.1em #000000;
	font-size: 13pt;
}

.startMenu {
	position: absolute;
	display: none;
	flex-direction: row;
	left: 5px;
	bottom: 35px;
	background: #C3C6CB;
	width: 260px;
	padding: 1px;
	border-style: outset;
}

.startMenuSide {
	width: 15%;
	background: #86898E;
	z-index: 100;
}

.startMenuList {
	width: 85%;
	align-self: flex-end;
}

.listItem {
	display: flex;
	justify-content: space-between;
}

.listItemText {
	float: left;
}

.listItemArrow {
	float: right;
	font-size: 0.7em;
	padding-right: 10px;
}

.desktopFolders {
	position: absolute;
	left: 30px;
	top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.desktopFolder {
	width: 95px;
	height: 80px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 60px;
}

.folderTitle {
	color: white;
	line-height: 25px;
	height: 22px;
	width: 100%;
	text-align: center;
	margin: auto;
}

.explorerWindow {
	position: absolute;
	width: 50%;
	height: 50%;
	background-color: #C3C6CB;
	border-style: outset;
	border-width: 3px;
	display: flex;
	flex: column;
	justify-content: space-between;
	padding: 2px;
}

.explorerTopBar {
	position: absolute;
	width: 98%;
	height: 30px;
	align-self: flex-start;
	background: #86898E;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1px 3px 1px 3px;
}

.explorerTopBarText {
	float: left;
	color: #C3C6CB;
}

.explorerContent {
	position: absolute;
	background-color: white;
	border-style: inset;
	height: 80%;
	width: 98%;
	align-self: flex-end;
}