html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block; }

progress {
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active, a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

@font-face {
  font-family: MS Sans Serif;
  src: url("fonts/MicrosoftSansSerif.woff") format("woff"), url("fonts/MicrosoftSansSerif.ttf") format("truetype"); }
body {
  font-family: MS Sans Serif;
  font-size: 11pt;
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
  font-weight: lightest;
  background: #55ABAA;
  margin: 0; }

p {
  height: 35px; }

dl {
  list-style: none;
  line-height: 40px; }

li {
  padding-left: 16px; }

.wholeThing {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: space-between;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: .2s ease-in-out; }

.greyBox {
  display: flex;
  margin: auto;
  align-items: center;
  background: #C3C6CB;
  top: 50%;
  height: 170px;
  width: 600px;
  padding: 1px;
  clear: both;
  border-style: outset;
  border-width: 2px;
  box-shadow: 0.1em 0.1em 0.1em #000000; }

.blueBar {
  align-self: flex-start;
  background: #0000AA;
  height: 28px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px; }

.topBarTextWhite {
  color: white;
  float: left; }

.cancelButton {
  float: right;
  color: black;
  background-color: #C3C6CB;
  border: outset;
  border-width: 2px;
  text-align: center;
  vertical-align: middle;
  line-height: 18px;
  font-family: arial;
  padding: 0;
  font-size: 25px;
  width: 20px;
  height: 20px; }

.boxDetails {
  position: absolute;
  width: 600px;
  align-self: flex-end;
  text-align: left;
  padding-left: 15%;
  padding-bottom: 10px; }

.rightBox {
  position: absolute;
  right: 5%; }

input[type=text] {
  width: 120px;
  height: 25px;
  box-sizing: border-box;
  border: inset;
  padding: 0px 0px 0px 3px;
  border-width: 0.2em; }

input[type=submit] {
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  width: 85px;
  height: 24px;
  box-sizing: border-box;
  border: outset;
  border-width: 0.2em;
  box-shadow: 1px 1px 1px #000000; }

.eggTimer {
  cursor: url("/img/eggTimer.png"), pointer; }

.desktopFolders {
  position: absolute;
  left: 30px;
  top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.desktopFolder {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 65px; }

.folderTitle {
  font-smooth: never;
  -webkit-font-smoothing: none;
  color: white;
  line-height: 30px;
  height: 30px;
  width: 100%;
  text-align: center;
  margin: auto;
  padding: 0px 5px 0px 5px; }

.folderImageBlue {
  opacity: 0.2;
  drop-shadow: 0 0 0 #0000AA; }

.folderTitleBlue {
  background-color: #0000AA;
  border-style: dotted;
  border-width: 1px;
  border-color: white; }

.audioWhole {
  height: 80px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 65px; }

.audioTitle {
  font-smooth: never;
  -webkit-font-smoothing: none;
  color: black;
  line-height: 30px;
  height: 30px;
  width: 100%;
  text-align: center;
  margin: auto;
  padding: 0px 5px 0px 5px; }

.explorerWindow {
  z-index: 2;
  display: none;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  height: 300px;
  background-color: #C3C6CB;
  border-style: outset;
  border-width: 2px;
  box-shadow: 0.1em 0.1em 0.1em #000000;
  flex-direction: column;
  justify-content: space-between;
  padding: 2px; }

.explorerTopBar {
  width: 100%;
  height: 30px;
  align-self: flex-start;
  background: #0000AA;
  display: flex;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  justify-content: flex-start;
  margin-bottom: 3px;
  padding: 0px 3px 0px 3px; }

.explorerTopBarText {
  width: 100%;
  float: left;
  font-weight: bold;
  text-align: left;
  line-height: 30px;
  color: white; }

.explorerContent {
  background-color: white;
  height: 230px;
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border: inset;
  padding: 10px;
  border-width: 2px; }

.taskBar {
  background: #C3C6CB;
  height: 40px;
  width: 100%;
  position: fixed;
  left: 0px;
  bottom: 0px;
  padding: 1px 3px 3px 3px;
  border-style: outset;
  border-width: 2px 0px 0px 0px;
  justify-content: space-between; }

.screenSpace {
  height: 100%;
  width: 100%;
}

.startButton {
  float: left;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 30px;
  width: 100px;
  border-style: solid;
  color: #000000;
  z-index: 99;
  margin: 1px 1px 1px 1px;
  box-sizing: border-box;
  border: outset;
  border-width: 2px;
  box-shadow: 1px 1px 1px #000000;
  font-size: 13pt;
  font-weight: bold; }

.startMenu {
  position: absolute;
  display: none;
  flex-direction: row;
  left: 5px;
  bottom: 35px;
  background: #C3C6CB;
  width: 260px;
  padding: 1px;
  border-style: outset;
  border-width: 2px; }

.startMenuSide {
  width: 15%;
  background: #86898E;
  z-index: 100; }

.startMenuList {
  width: 85%;
  align-self: flex-end; }

.listItem {
  display: flex;
  justify-content: space-between; }

.listItemText {
  float: left; }

.listItemArrow {
  float: right;
  font-size: 0.7em;
  padding-right: 10px; }

li:hover {
  background-color: #0000AA;
  color: white; }

.wholeThingBsod {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: .2s ease-in-out;
  background-color: #0B1AFB;
  color: #C6BEDC;
  line-height: 40px; }

.bsodTitle {
  background-color: #C6BEDC;
  color: #0B1AFB;
  line-height: 20px;
  width: 120px;
  margin-bottom: 50px;
  text-align: center; }

.bsodAnnouncement {
  line-height: 40px;
  width: 40%; }

/*# sourceMappingURL=main.css.map */

  @import url(https://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css);

  .winamp{
    position: relative;
    z-index: 9999;
    display: none;
    width:400px;
    box-shadow:0px 5px 40px #000;
    background: -webkit-linear-gradient(left, #1a1927 0%,#353551 53%,#21212d 100%);
    border: 2px ridge #7E7E7E;
    margin:0px auto;
    margin-top:50px;    
  }
  .player{
    border: 3px groove #7E7E7E;
    margin:3px;
    margin-top:0px;
    height:150px;
  }
  .header{
    font-weight:bold;
    color:#fff;
    font-size:14px;
    text-align:center;
    height: 20px;
    display: flex;
    flex-direction: row;
    padding-top: 5px;
  }
  .header-left{
    background: -webkit-linear-gradient(top, #fffcdf 0%,#fffcdf 29%,#736c50 32%,#736c50 66%,#d5ceb1 69%,#d5ceb1 100%);
    height: 8px;
    width: 159px;
    display: block;
    margin-top: 2px;
    margin-left: 6px;
  }
  .header-right{
    background: -webkit-linear-gradient(top, #fffcdf 0%,#fffcdf 29%,#736c50 32%,#736c50 66%,#d5ceb1 69%,#d5ceb1 100%);
    height: 8px;
    width: 140px;
    display: block;
    margin-top: 2px;
  }
  .top-whole{
    width: 375px;
    height: 66px;
    margin: 5px;
    display: flex;
    flex-direction: row;
  }
  .top-left{
    width: 140px;
    height: 100%;
  }
  .top-right{
    width: 235px;
    height: 100%;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
  }
  .top-right-top{
    height: 22px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .top-right-mid{
    font-family: monospace;
    width: 100%;
    height: 22px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 12px;
  }
  .top-right-bottom{
    height: 22px;
    display: flex;
    align-items: center;
  }
  .vis{
    width: 100%;
    height: 66px;
    background: #0F0F0F;
    border: 1px inset #69667B;
    float: left;
    color: lime;
    font-family: monospace;
    font-size: 30px;
    text-align: right;
  }
  .title{
    height: 18px;
    text-align: left;
    font-size: 12px;
    text-indent: 8px;
  }
  .inf{
    color: lime;
    margin-right: 2px;
    font-size: 12px;
    border: 1px inset #69667B;
    height: 18px;
    background: #0F0F0F;
    vertical-align: middle;
    text-align: center;
    line-height: 14px;
    padding-left: 2px;
    padding-right: 2px;
  }

  .mono_stereo{
    width: 130px;
    color: white;
    font-size: 11px;
    font-weight: bold;
    margin-right: 4px;
    text-align: right;
  }
  .mono_stereo:after{
    content:'stereo';
    margin-left:5px;
    text-shadow: 0px 0px 6px #00FF0F;
    color: #20FF17;
  }
  .bar{
    background: #C51B1E;
    height: 8px;
    float: left;
    margin-left: 3px;
    box-shadow: 0px 0px 4px black inset;
    border-radius: 2px;
    border-bottom: 1px solid #858585;
  }

  .bar:after{
    content: 'III';
    background: #BBB;
    font-size: 6px;
    padding: 0px 2px;
    margin-top: -1px;
    position: absolute;
    border: 2px outset white;
    font-weight: bold;
    box-shadow: 0px 0px 0px 1px black;
  }
  .volume{
    width: 80px;
  }
  .blanced{
    width: 55px;
    margin-left: 6px;
    background: #358A23;
  }
  .volume:after{
    margin-left: 30px;
  }
  .blanced:after{
    margin-left: 15px;
  }
  .btn-row{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-left: 5px;
  }
  .btn{
    background: #BBB;
    font-size: 6px;
    padding: 0px 1px 0px 7px;
    border: 2px outset white;
    font-weight: bold;
    float: left;
    color: #333;
    margin-left: 1px;
    height: 15px;
  }
  .ext{
    width: 25px;
    height: 14px;
    font-size: 9px;
  }
  .shuffle{
    width: 55px;
    height: 14px;
    font-size: 9px;
  }
  .ext:before{
    content: '';
    display: block;
    width: 3px;
    height: 3px;
    background: #686868;
    position: absolute;
    margin-left: -5px;
    margin-top: 1px;
  }
  .left{
    margin-left:29px;
  }
  .sidebar{
    border: 2px inset #7E7E7E;
    float: left;
    height: 15px;
    width: 98%;
    margin: 5px;
    margin-top: 10px;
  }
  .playbar{
    background: -webkit-linear-gradient(top, #fffcdf 0%,#fffcdf 29%,#736c50 32%,#736c50 66%,#d5ceb1 69%,#d5ceb1 100%);
    width: 45px;
    height: 15px;
    display: block;
    position: absolute;
    margin-top: -2px;
    border: 4px ridge #FCFFBD;
  }

  .player_b{
    font-size: 14px;
    line-height: 16px;
    vertical-align: middle;
    height: 23px;
    width: 30px;
    color: #7A7A7A;
    text-shadow: 1px 1px 0px white;
    margin: 5px 1px;
    padding-top: 3px;
  }
  .first{
    margin-left:7px;
  }
